*{
    margin: 0;
    color: white;
    font-family: "Inter", sans-serif;
    outline: none;
    border: none;
}

body {
    background-color: #D9CAB3;
    min-height: 100vh;
}

header{
    position: fixed;
    top: 0;
}

header button, #main-page{
    position: absolute;
}

#main-page{
    width: 10%;
    height: 100%;

    box-sizing: border-box;

    padding: 30px 40px;
}

footer{
    height: 100px;
    margin-top: 20px;

    position: absolute;
    bottom: 0;

    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    padding: 3px 5px;

    background-color: #788585;

    color: #cdcdcd;
}

footer p {
    font-size: 16px;
}

main {
    --cut-length: 50px;
    --background-color: #788585;
    --border-size: 6px;
    --border-color: #5A88FF;

    width: min(100%, 500px); height: 350px;
    margin: auto;
}

h1 {
    margin: 0px auto 30px;
    padding-top: 10px;

    font-size: 86px;
    text-align: center;
}

.input-wrapper {
    width: fit-content;
    position: relative;
    font-size: 24px;
    margin: 2em auto auto;
    cursor: text;
}


.login-input-wrapper input {
    font-size: 20px;
    border-bottom: 1px solid white;
    background-color: #788585;
}

label {
    position: absolute;
    top: 0px; left: 0px;

    cursor: inherit;

    transition: .2s;
}

input:focus ~ label, input:not(:placeholder-shown) ~ label {
    transform: translateY(calc(-1em - 10px));
}

button[type="submit"] {
    --cut-length: 15px;
    --background-color: #CDCDCD;
    --border-size: 3px;
    --border-color: #ffffff;

    margin: 25px 50% 5px;
    padding: 5px 15px;
    transform: translateX(-50%);
    font-size: 32px;
}

#error {
    visibility: hidden;
    margin-top: 5px;
    text-align: center;
    color: red;
}

#redirect {
    text-align: center;
    font-size: 16px;
}
