*{
    margin: 0;
}

.flex-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


/*
header{
    position: sticky;
    top: 0;

    height: 100px;

    background-color: lightgray;
}
*/

#logo {
    position: fixed;
    top: 30px; left: 30px;
    z-index: 10;
}

header button{
    position: fixed;
    z-index: 10;
}

/*
#main-page{
    width: 10%;
    height: 100%;

    box-sizing: border-box;

    padding: 30px 40px;
}
*/

#checkout{
    width: 2.5vw;
    height: 2.5vw;

    top: 30px;
    right: calc(7.5% - 1.25vw);

    padding-inline: 0;
    padding-block: 0;
}

#profile{
    width: 3vw;
    height: 3vw;

    top: 30px;
    right: calc(3% - 1.5vw);

    padding-inline: 0;
    padding-block: 0;
}


nav{
    position: sticky;
    top: 0;
    z-index: 10;

    width: 80%;
    height: 100px;

    margin-left: auto;
    margin-right: auto;

    background-color: aqua;
}


main{
    width: 80%;
    min-height: 2000px;

    border: solid black 1px;
    
    margin-right: auto;
    margin-left: auto;

    z-index: -2;

    /*ez nem működik*/
    /*
    --szelesseg: 80vw;
    --magassag: 20px;
    --background-color: lightgrey;
    --border-size: 5px;
    --border-color: blue;
    */
}

#donut-box-container{
    padding-top: 20px;
    row-gap: 20px;
}

.donut-box{
    /*width: calc((100% - 10%) / 4 - 2%);*/
    --szelesseg: max(18vw, 200px);
    --magassag: max(calc(max(18vw, 200px) * 1.5), 320px);
    --background-color: lightgray;
    --border-color: lightgray;
    min-width: 200px;
    
    position: relative;

    text-align: center;
}

.donut-img-container{
    width: 100%;
    margin: 5% 0% 100%;
}

.donut-img-container img{
    position: absolute;
    width: 100%;
    display: block;
}

.donut-box p{
    margin: 5px 10px;
    font-style: italic;
}


footer{
    height: 100px;

    background-color: gray;
    color: white;
}
