*{
    margin: 0;
    color: white;
    font-family: "Inter", sans-serif;
    outline: none;
    border: none;
}

body {
    background-color: #D9CAB3;
    min-height: 100vh;
}

header{
    position: fixed;
    top: 0;
}


#main-page{
    width: 10%;
    height: 100%;

    box-sizing: border-box;

    padding: 30px 40px;
}

footer{
    position: absolute;
    bottom: 0;
}


footer p {
    font-size: 16px;
}

h1 {
    margin: 0px auto 30px;
    padding-top: 10px;

    font-size: 86px;
    text-align: center;
}


button[type="submit"] {
    --cut-length: 15px;
    --background-color: #5A88FF;
    --border-size: 3px;
    --border-color: #ffffff;

    margin: 25px auto 5px;
    display: block;
    padding: 5px 15px;
    font-size: 32px;
}

#error {
    visibility: hidden;
    margin-top: 5px;
    text-align: center;
    color: red;
}

#redirect {
    text-align: center;
    font-size: 16px;
}

form{
    margin-bottom: 40px;
}


@media screen and (max-width: 800px){
    button[type="submit"] {
        --cut-length: 8px;
        --border-size: 2px;
    
        margin: 10px auto 5px;
        padding: 3px 8px;
        font-size: 20px;
    }

    #error {
        font-size: 16px;
    }
}

