*{
    margin: 0;
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 24px;
    outline: none;
    border: none;
}

body {
    background-color: #D9CAB3;
    min-height: 100vh;
}

footer p {
    font-size: 16px;
}

h1 {
    margin: 0px auto 30px;
    padding-top: 10px;
    font-size: 86px;
    text-align: center;
}


/*Local*/

h2 {
    font-size: 30px;
    margin: 0px 0px 10px -15px;

}

#profile-grid {
    --cut-length: 20px;
    --background-color: #7b9eb0;
    --border-size: 6px;
    --border-color: #5A88FF;
    padding: 20px;

    display: grid;
    grid-template-columns: 350px 400px;
    row-gap: 10px;
    margin-bottom: 50px;
}

input {
    background-color: #00000000;
    border-bottom: 1px solid white;
}

#admin {
    --cut-length: 12px;
    --border-size: 3px;
    --border-color: white;
    --background-color: #5A88FF;

    font-weight: 700;

    
    padding: 5px 20px;
    cursor: pointer;
}

#logout {
    --cut-length: 12px;
    --border-size: 3px;
    --border-color: white;
    --background-color: #5A88FF;

    font-weight: 700;

    
    padding: 5px 20px;
    cursor: pointer;
}

#delete {
    --cut-length: 12px;
    --border-size: 3px;
    --border-color: red;
    --background-color: white;

    color: red;
    font-weight: 700;

    padding: 5px 20px;
    cursor: pointer;

    float: right;
}

@media screen and (max-width: 800px){

    h2{
        font-size: 20px;
        margin: 0 0 10px;
    }

    #profile-grid {
        display: block;
        grid-template-columns: none;
        margin-bottom: 30px;
        font-size: 16px;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }

    #profile-grid *{
        margin-top: 8px;
        margin-bottom: 20px;
        font-size: 16px;
        width: 100%;
    }

    #admin {
        display: block;
        margin-left: auto;
        margin-right: auto;

        --cut-length: 4px;
        --border-size: 2px;
    
        font-weight: 400;
    
        font-size: 16px;
        
        padding: 3px 10px;
    }

    #logout {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;

        --cut-length: 4px;
        --border-size: 2px;
    
        font-weight: 400;
    
        font-size: 16px;
        
        padding: 3px 10px;
    }
    
    #delete {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;

        --cut-length: 4px;
        --border-size: 2px;
    
        font-weight: 400;
    
        padding: 3px 10px;
    
        font-size: 16px;

        float: none;
    }

}

